@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');

:root {
    --cor-primaria: #5300C8;
    --formulario-placeholder: #03318C;
    --cor-card: #5D04D9;

    --fonte-logo: 'Press Start 2P', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
#header {
    width: 100%;
    height: 96px;
    background: var(--cor-primaria);
    box-shadow: 0px 7px 0.9px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.header__cabecalho {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__coracoes {
    width: 138px;
    height: 56px;
}

.header__titulo {
    color: #E5E5E5;
    font-size: 24px;
    font-family: var(--fonte-logo);
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
    margin-left: 20px;
}

.formulario__container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2{
    font-family: "Press Start 2P", system-ui;
    width: 350px;
    text-align: center;
    margin: 50px auto;
}

.formulario__div {
    margin: auto;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    gap: 40px;
}

input{
    padding: 15px;
    border-radius: 40px;
    border: solid 2.9px #03318c;
    color: #03318c;
}

::placeholder{
    color: #03318c;
    font-weight: 900;
    font-family: "IBM Plex Mono", monospace;
}

.formulario__botoes {
    width: 350px;
    gap: 13px;

}

.btn__submit{
    background: #03318c;
    color: white;
    width: 164px;
    border-radius: 15px;
    font-size: 20px;
}

.btn__reset {
    width: 164px;
    border-radius: 15px;
    font-size: 20px;
    background: white;
}

.produtos{
    margin-left: 20px;
}

.secao {
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.card{
    background: #5D04D9;
    width: 196px;
    height: 240px;
    padding: 10px;
    border-radius: 5px;
    border: solid 3px black;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.produto{
    display: inline-block;
}

.card p{
    color: white;
    font-family: "IBM Plex Mono", monospace;
}

.nome__produto {
    text-align: left;
    margin-top: 2px;
    font-weight: 200;
}

.preco__produto {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Rodapé */
#footer {
    bottom: 0;
    width: 100%;
    height: 232px;
    background: #5300C8;
    box-shadow: 0px -10px 9.5px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__coracoes {
    width: 138px;
    height: 56px;
}

.footer__titulo {
    color: white;
    font-size: 24px;
    font-family: 'Press Start 2P';
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
    margin-left: 20px;
}

.footer__desenvolvedor {
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    text-transform: uppercase;
    line-height: 16px;
    word-wrap: break-word;
}

@media (min-width: 715px){

    .produtos__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

@media (min-width: 1200px){

    .main{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: baseline;

        padding: 30px;
    }

    h2{
        margin-bottom: 20px;
    }

    .produtos__container{
        width: 720px;
        margin: auto 5px;
        box-shadow: -12px 12px 8px rgba(97, 97, 97, 0.648);
    }

    .secao {
        display: flex;
        gap: 10px;
        overflow: hidden;
    }

}

@media (max-width: 715px){
    .secao {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card {
        width: 100%; 
    }
}
